
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
}


body{
    font-family: "Outfit", sans-serif;
    background: hsl(212, 45%, 89%);
    font-size: 15px;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

.outer-box{
    max-width: 360px;
    margin:0 auto; 
}

.card{
    background:hsl(0, 0%, 100%) ;
    padding:20px;
    border-radius: 19px;
    text-align: center;
     margin:0 1em;
}

.card img{
    width:100%; 
    border-radius: 13px;
   
}

.content{
    padding:10px;
}

.content h2{
    color: hsl(218, 44%, 22%);
}

.content p{
   color: hsl(216, 15%, 48%); 
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }